@model Identity.Models.Customer  
  
<div>  
    <h4>Customer</h4>  
    <hr />  
    <dl class="dl-horizontal">  
        <dt>  
            @Html.DisplayNameFor(model => model.Name)  
        </dt>  
  
        <dd>  
            @Html.DisplayFor(model => model.Name)  
        </dd>  
  
        <dt>  
            @Html.DisplayNameFor(model => model.Address)  
        </dt>  
  
        <dd>  
            @Html.DisplayFor(model => model.Address)  
        </dd>  
  
        <dt>  
            @Html.DisplayNameFor(model => model.Email)  
        </dt>  
  
        <dd>  
            @Html.DisplayFor(model => model.Email)  
        </dd>  
  
        <dt>  
            @Html.DisplayNameFor(model => model.MobileNo)  
        </dt>  
  
        <dd>  
            @Html.DisplayFor(model => model.MobileNo)  
        </dd>  
         <dt>  
            @Html.DisplayNameFor(model => model.DateOfBirth)  
        </dt>  
  
        <dd>  
            @Html.DisplayFor(model => model.DateOfBirth)  
        </dd>  
         <dt>  
            @Html.DisplayNameFor(model => model.Custom)  
        </dt>  
  
        <dd>  
            @Html.DisplayFor(model => model.Custom)  
        </dd>  
  
    </dl>  
</div>  
<p>  
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustId }) |  
    @Html.ActionLink("Back to List", "CustDetails")  
</p>  